


.dark-mode {
    background-color: #121212;
    /* Un colore scuro per lo sfondo */
    color: white;
    /* Colore del testo per contrastare lo sfondo */
}
.dark-mode .button {
    background-color: #0F5DA6;
    /* Pulsanti scuri in modalità dark */
    color: white;
    /* Testo chiaro sui pulsanti scuri */
}

.dark-mode a {
    color: #bbb;
    /* Link con colore più chiaro in modalità dark */
}

.dark-mode .profile {
    background-color: #ffffff;
    /* Profilo con sfondo scuro in modalità dark */
}

.dark-mode .profile-default .profile__image img {
    border-bottom: 7px solid #65bc46d4;
    background-color: #f5f5f5;
}