.container-side-bar {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
  height: 102%;
  width: 400px;
  background-color: #0F5DA6;
  border-right: 1px solid black;
  justify-content: space-between;
  position: fixed;

}

.Page {
  width: 90%;
  padding-left: 400px;
}

.content-side-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
  color: white;
}
