$bg: #f7f7f7;
$color-primary: #ffe553;

* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.containerwewewe {
  min-height: 100vh;
  margin-top: 5em;
}

.name-user {
  margin-top: 10px;
  font-size: 2.2em;
  max-width: 650px;
  line-height: 1.3;
}

.profession {
  padding-top: 5px;
  padding-bottom: 60px;
}

.aggiungi-ai-preferiti {
  display: flex;
  padding-top: 20px;
}

.content-block {
  margin-bottom: 3em;
}

#tabs {
  margin-bottom: 2.6em;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    left: 0;
    background: #f1f1f1;
  }

  li {
    font-size: 1.05em;
    font-weight: 700;
    margin-right: 3em;
    padding-bottom: 0.6em;
    letter-spacing: 0.03em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    &.active {
      border-bottom: 4px solid #66BC46;
    }
  }
}

p {
  line-height: 1.6;
}

.container-page {
  width: 90%;
  margin: 0 auto;
  padding: 0 2em;
  @extend %clearfix;
}

.stars {
  font-size: 1.6em;
  color: #66BC46;
}

.label {
  color: #66BC46;
  letter-spacing: 0.08em;
  font-size: 0.65rem;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  margin-top: 10px;
}

span.stars {
  font-size: 1.4em;
}


.course-sidebar {
  min-height: 100vh; 
}

.course-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 320px);
  float: right;
  padding-right: 5em;
}

.courseSidebar {
  width: 200px;
  float: left;
  position: relative;
  &__featureImage {
    width: 200px;
    height: 200px;
    padding-bottom: 100%;
    background-image: url(../images/Giuseppe.jpg);
    background-size: 250px;
    margin-bottom: 3em;
    border-radius: 100px;
  }
}

.profile-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 100%;
  background: $bg;
  &__inner {
    position: Absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20px;
    border-radius: 100%;
    overflow: hidden;
    &::after {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background: rgba(0, 0, 0, 0.2);
      content: "";
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.panel {
  margin: 2em 0;
  background: white;
  padding: 4em 10em 4em 5.5em;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.07), 0 0 55px rgba(0, 0, 0, 0.06);
}

.courseStats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 2.8rem;
  }

  &__label {
    background: transparent;
    position: relative;
    margin-bottom: -4px;
    float: left;
    padding-right: 5px;
  }

  &__divider {
    float: left;
    height: 1px;
    background: lighten(black, 90%);
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__data {
    display: block;
    font-weight: 600;
    font-size: 1.05rem;
  }
}

#tab li:not(.active) {
  display: none;
}


.send-a-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
